.App {
  font-family: monospace;
  text-align: center;
  padding: 20px;
  max-width: 700px;
  margin: auto;
}

.ascii {
  white-space: pre;
  line-height: 7px;
  font-size: 8px;
  background: #000;
  color: #0f0;
  padding: 10px;
  margin-top: 20px;
  border-radius: 8px;
  overflow-x: auto;
}
